section.cathegory 
  h2 Популярные категории
  .cathegory__card-list
    .cathegory__card-list__item
      img(class="cathegory__card-list__item--photo" src="../img/firstItem.svg", alt="photo")
      p.cathegory__card-list__item--name Кольца

    .cathegory__card-list__item
      img(class="cathegory__card-list__item--photo" src="../img/firstItem.svg", alt="photo")
      p.cathegory__card-list__item--name Серьги

    .cathegory__card-list__item
      img(class="cathegory__card-list__item--photo" src="../img/firstItem.svg", alt="photo")
      p.cathegory__card-list__item--name Помолвочные кольца 

    .cathegory__card-list__item
      img(class="cathegory__card-list__item--photo" src="../img/firstItem.svg", alt="photo")
      p.cathegory__card-list__item--name Браслеты

    .cathegory__card-list__item
      img(class="cathegory__card-list__item--photo" src="../img/firstItem.svg", alt="photo")
      p.cathegory__card-list__item--name Колье и подвески

    .cathegory__card-list__item
      img(class="cathegory__card-list__item--photo" src="../img/firstItem.svg", alt="photo")
      p.cathegory__card-list__item--name Часы