header.header 
  .header__content 
    .header__content__item     
      p(class="header__content__item--icon icon-location")     
      span Санкт-Петербург
      p(class="header__content__item--icon icon-location-arrow")
    .header__content__item     
      p(class="header__content__item--icon icon-phone")
      span 8 800 785-25-35
    .header__content__item__logo
        span(class='header__content__item__logo-name') Goldy 
        span(class='header__content__item__logo-name ln-store') Store
        p.header__content__item__logo-desc ювелирный магазин
    .header__content__item__auth 
        span.header__content__item__auth-item Вход
        span.header__content__item__auth-item Регистрация
    .header__content__item
      .header__content__item__icons
        .header__content__item__icons--item-counter
          p 23
        p(class="header__content__item__icons--item icon-favorite")
        p(class="header__content__item__icons--item  icon-chart")
        p(class="header__content__item__icons--item  icon-bag")
  nav.header__nav
    .header__nav__menu
      span.header__nav__menu--item КАТАЛОГ
      span.header__nav__menu--item АКЦИИ
      span.header__nav__menu--item БРЕНДЫ
      span.header__nav__menu--item МАГАЗИНЫ
      span.header__nav__menu--item О НАС
      span.header__nav__menu--item ДОСТАВКА И ОПЛАТА
      span.header__nav__menu--item СТАТЬИ
    .header__nav__search
      .header__nav__search__inner
        span(class="header__nav__search__inner--icon icon-search")
        input(class=".header__nav__search__inner--text " placeholder="Поиск по сайту")
    