section.main-page
  .main-page__offer
    p.main-page__offer--discount Суперскидка до 60%
    p.main-page__offer--text НА БРИЛЛИАНТЫ
    button.main-page__offer--btn подробнее
  img(class="main-page--photo big-brill" src="../../img/pngegg.svg", alt="photo")
  img(class="main-page--photo brill" src="../../img/Union.svg", alt="photo")

  
  div(class="main-page__circle-left ")
    p(class="main-page__circle-left--arrow")
  div(class="main-page__circle-right ")
    p(class="main-page__circle-right--arrow")
  

  .main-page__handler
    p(class="main-page__handler--btnactive")
    p.main-page__handler--btn
    p.main-page__handler--btn